<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>文章详情</title>
<meta name="keywords"  content="DeathGhost" />
<meta name="description" content="DeathGhost" />
<meta name="author" content="DeathGhost,deathghost@deathghost.cn">
<link rel="icon" href="../../static/js/images/icon/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="../../static/js/css/style.css" /><script src="../../static/js/js/html5.js"></script>
<script src="../../static/js/js/jquery.js"></script>
<script>
$(document).ready(function(){
  $("nav .indexAsideNav").hide();
  $("nav .category").mouseover(function(){
	  $(".asideNav").slideDown();
	  });
  $("nav .asideNav").mouseleave(function(){
	  $(".asideNav").slideUp();
	  });
});
</script>
</head>
<body>
<!--header-->
<header>
  <!--topNavBg-->
  <div class="topNavBg">
   <div class="wrap">
   <!--topLeftNav-->
    <ul class="topLtNav">
     <li><a href="login.html" class="obviousText">亲，请登录</a></li>
     <li><a href="register.html">注册</a></li>
     <li><a href="#">移动端</a></li>
    </ul>
   <!--topRightNav-->
    <ul class="topRtNav">
     <li><a href="user.html">个人中心</a></li>
     <li><a href="cart.html" class="cartIcon">购物车<i>0</i></a></li>
     <li><a href="favorite.html" class="favorIcon">收藏夹</a></li>
     <li><a href="user.html">商家中心</a></li>
     <li><a href="article_read.html" class="srvIcon">客户服务</a></li>
     <li><a href="union_login.html">联盟管理</a></li>
    </ul>
   </div>
  </div>
  <!--logoArea-->
  <div class="wrap logoSearch">
   <!--logo-->
   <div class="logo">
    <h1><img src="../../static/js/images/logo.png"/></h1>
   </div>
   <!--search-->
   <div class="search">
    <ul class="switchNav">
     <li class="active" id="chanpin">产品</li>
     <li id="shangjia">商家</li>
     <li id="zixun">搭配</li>
     <li id="wenku">文库</li>
    </ul>
    <div class="searchBox">
     <form>
      <div class="inputWrap">
      <input type="text" placeholder="输入产品关键词或货号"/>
      </div>
      <div class="btnWrap">
      <input type="submit" value="搜索"/>
      </div>
     </form>
     <a href="#" class="advancedSearch">高级搜索</a>
    </div>
   </div>
  </div>
  <!--nav-->
  <nav>
<ul class="wrap navList">
<li class="category">
<a>全部产品分类</a>
<dl class="asideNav indexAsideNav">
<dt><a href="channel.html">女装</a></dt>
<dd>
<a href="#">夏装新</a>
<a href="#">连衣裙</a>
<a href="#">T恤</a>
<a href="#">衬衫</a>
<a href="#">裤子</a>
<a href="#">牛仔裤</a>
<a href="#">背带裤</a>
<a href="#">短外套</a>
<a href="#">时尚外套</a>
<a href="#">风衣</a>
<a href="#">毛衣</a>
<a href="#">背心</a>
<a href="#">吊带</a>
<a href="#">民族服装</a>
</dd>
<dt><a href="channel.html">男装</a></dt>
<dd>
<a href="#">衬衫</a>
<a href="#">背心</a>
<a href="#">西装</a>
<a href="#">POLO衫</a>
<a href="#">马夹</a>
<a href="#">皮衣</a>
<a href="#">毛衣</a>
<a href="#">针织衫</a>
<a href="#">牛仔裤</a>
<a href="#">外套</a>
<a href="#">夹克</a>
<a href="#">卫衣</a>
<a href="#">风衣</a>
<a href="#">民族风</a>
<a href="#">原创设计</a>
<a href="#">大码</a>
<a href="#">情侣装</a>
<a href="#">开衫</a>
<a href="#">运动裤</a>
<a href="#">工装裤</a>
</dd>
</dl>
</li>
<li>
<a href="index.html" class="active">首页</a>
</li>
<li>
<a href="#">时尚搭配</a>
</li>
<li>
<a href="channel.html">原创设计</a>
</li>
<li>
<a href="channel.html">时尚代购</a>
</li>
<li>
<a href="channel.html">民族风</a>
</li>
<li>
<a href="information.html">时尚搭配</a>
</li>
<li>
<a href="library.html">搭配知识</a>
</li>
<li>
<a href="#">促销专区</a>
</li>
<li>
<a href="#">其他</a>
</li>
</ul>
</nav>

 </header>
 <script>
 $(document).ready(function(){
   //测试效果，程序对接如需变动重新编辑
   $(".switchNav li").click(function(){
     $(this).addClass("active").siblings().removeClass("active");
     });
   $("#chanpin").click(function(){
     $(".inputWrap input[type='text']").attr("placeholder","输入产品关键词或货号");
     });
   $("#shangjia").click(function(){
     $(".inputWrap input[type='text']").attr("placeholder","输入商家店铺名");
     });
   $("#zixun").click(function(){
     $(".inputWrap input[type='text']").attr("placeholder","输入关键词查找文章内容");
     });
   $("#wenku").click(function(){
     $(".inputWrap input[type='text']").attr("placeholder","输入关键词查找文库内容");
     });
   });
   
 </script>
 
 <!--导航指向-->
<aside class="wrap insideLink">
  <a href="index.html">首页</a>
  <a href="article_list.html">最新资讯</a>
</aside>
<section class="wrap atc_list">
 <div class="atc_rd">
  <h2 class="atc_ttl">接旗的三大军队主官 其实刚提没多久</h2>
  <p class="otherInfor">
   <span>作者：DeathGhost</span>
   <time>2013-01-02 09:43</time>
  </p>
  <div class="atc_cont">
长安街知事（微信ID：Capitalnews）此前曾说过一个规律：但凡当日重大新闻当日不在新闻联播发布，必是预留重磅。2015年的最后一天，习总在八一大楼向陆军、火箭军、战略支援部队授旗，这个重磅却在2013年1月1日对外发布。重磅推后一天，独占新闻头条，不影响小伙伴们细细品读习总新年贺词，免得分心。<br/>
三支新部队，人事安排虽与传闻相差无几，也足够具有震撼力。这其中的焦点人物就是新任陆军司令李作成和政委刘雷，他们两位，是七大军区中仅有的两名“双非”。
“双非”：既非中央委员，也非中央候补委员，他们多是十八大后获得提拔的高级官员。因为，十八大前出任正部或有望晋升正部的人，已悉数入选中央委员会。<br/>
<img src="../../static/js/upload/goods005.jpg" style="display:block;margin:8px auto;"/>
长安街知事此前介绍过：军队系统的正大军区将领中，有且只有六名“双非”，分别是海军政委苗华、兰州军区政委刘雷、第二炮兵政委王家胜、空军政委于忠福、成都军区司令李作成、北京军区司令宋普选。此次新成立的3大军种，共有6位军政主官，一半是“双非”，除了上面介绍的李作成、刘雷之外，王家胜出任火箭军政委。<br/>

李作成，今年63岁，2013年7月刚由成都军区副司令晋升司令；刘雷，今年59岁，2013年7月任新疆军区政委，正军晋升大区副，1年后任兰州军区政委，大区副晋升大区正，如今又出任陆军政委，3年换了4个职务，进步速度令人惊叹。<br/>

很多小伙伴们深表不解：部队不是向来讲求按部就班、论资排辈么，“双非”干部跻身大区正已是罕见，这次又在众多资深将官中脱颖而出，执掌新成立的陆军，进步速度是不是太快了。

事实上，认真读一下他们的简历就知道，这两位现在进步快，是因为以前进步得实在太慢了。<br/>

李作成将军1979年参加对越自卫反击战。在一次战斗中，他身体多处受伤，坚持不下火线，率领全连官兵血战26个日夜，被中央军委授予“战斗英雄”称号，由于战功突出，3年后中共十二大上，29岁的李作成入选主席团。在此后的长江特大洪灾、汶川地震、芦山地震、云南鲁甸地震救援中，李作成率部冲在一线，电视镜头上汗水、雨水湿透衣背。<br/>

刘雷，当战士期间，荣立三等功3次。他长期扎根西北，从步兵师政委一步一步干到军区政委，是一位从基层连队成长起来的政工干部。<br/>

然而，这两位优秀的军事指挥员，却在很长的一段时间里，进步缓慢。以战斗英雄李作成为例，108年，他就担任了41军军长，却花了整整十年才晋升大区副。李作成当军职干部时，谷俊山才是师职干部，可两人却几乎同步晋升大区副。前一段时间，各种文章常说“徐才厚、郭伯雄的恶劣行径伤害的是广大人民群众和广大官兵对党和军队的感情，这种伤害和影响是敌对势力多少年想办而没能办到的”，当时听了这话，还没有切身感受，现在真的，懂了！
  </div>
 </div>
 <aside>
  <!--相关文章-->
  <div class="rlvt_atc">
   <h3>招标资讯</h3>
   <ul>
    <li><a href="article_read.html">组图：巨型乌木根雕《清明上河图》亮相深圳</a></li>
    <li><a href="article_read.html">习近平陪同莫迪参观大雁塔 莫迪赠送菩提树</a></li>
    <li><a href="article_read.html">载40人旅游大巴在陕西咸阳坠入山沟 已35人</a></li>
    <li><a href="article_read.html">国务院部署宽带降费提速 运营商今公布新方</a></li>
    <li><a href="article_read.html">贵州惠水一公职人员死于家中 胃内发现71枚硬币</a></li>
    <li><a href="article_read.html">缅甸两枚炮弹再次落入中国云南境内 致4人受</a></li>
    <li><a href="article_read.html">三大运营商公布提速降费方案 资费最高降35%</a></li>
    <li><a href="article_read.html">合肥少女被毁容案宣判 受害少女周岩获赔172</a></li>
    <li><a href="article_read.html">马英九引三国论两岸关系：天下大势分久必合</a></li>
    <li><a href="article_read.html">李克强：机关事业单位工资6月底前调整到位</a></li>
   </ul>
  </div>
 </aside>
</section>
<!--footer-->
<footer>
 <!--help-->
 <ul class="wrap help">
  <li>
   <dl>
    <dt>消费者保障</dt>
    <dd><a href="article_read.html">保障范围</a></dd>
    <dd><a href="article_read.html">退换货流程</a></dd>
    <dd><a href="article_read.html">服务中心</a></dd>
    <dd><a href="article_read.html">更多服务特色</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>新手上路</dt>
    <dd><a href="article_read.html">保障范围</a></dd>
    <dd><a href="article_read.html">退换货流程</a></dd>
    <dd><a href="article_read.html">服务中心</a></dd>
    <dd><a href="article_read.html">更多服务特色</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>付款方式</dt>
    <dd><a href="article_read.html">保障范围</a></dd>
    <dd><a href="article_read.html">退换货流程</a></dd>
    <dd><a href="article_read.html">服务中心</a></dd>
    <dd><a href="article_read.html">更多服务特色</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>服务保障</dt>
    <dd><a href="article_read.html">保障范围</a></dd>
    <dd><a href="article_read.html">退换货流程</a></dd>
    <dd><a href="article_read.html">服务中心</a></dd>
    <dd><a href="article_read.html">更多服务特色</a></dd>
   </dl>
  </li>
 </ul>
 <dl class="wrap otherLink">
  <dt>友情链接</dt>
  <dd><a href="http://www.17sucai.com" target="_blank">17素材</a></dd>
  <dd><a href="http://www.17sucai.com/pins/24448.html">HTML5模块化后台管理模板</a></dd>
  <dd><a href="http://www.17sucai.com/pins/15966.html">绿色清爽后台管理系统模板</a></dd>
  <dd><a href="http://www.17sucai.com/pins/14931.html">黑色的cms商城网站后台管理模板</a></dd>
  <dd><a href="http://www.deathghost.cn" target="_blank">前端博客</a></dd>
  <dd><a href="http://www.deathghost.cn" target="_blank">博客</a></dd>
  <dd><a href="http://www.deathghost.cn" target="_blank">新码笔记</a></dd>
  <dd><a href="http://www.deathghost.cn" target="_blank">DethGhost</a></dd>
  <dd><a href="#">当当</a></dd>
  <dd><a href="#">优酷</a></dd>
  <dd><a href="#">土豆</a></dd>
  <dd><a href="#">新浪</a></dd>
  <dd><a href="#">钉钉</a></dd>
  <dd><a href="#">支付宝</a></dd>
 </dl>
 <div class="wrap btmInfor">
  <p>© 2013 DeathGhost.cn 版权所有 网络文化经营许可证：浙网文[2013]***-027号 增值电信业务经营许可证：浙B2-200***24-1 信息网络传播视听节目许可证：1109***4号</p>
  <address>联系地址：陕西省西安市雁塔区XXX号</address>
 </div>
</footer>
</body>
</html>
